<!doctype html>
<html lang="en">
<%- include('../../partials/header.ejs') %>
<body>
<div class="container">
    <%- include('../../partials/navbar.ejs') %>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
<style type="text/css">
    a:hover {
        text-decoration: none;
    }
</style>
</body>
</html>