<!doctype html>
<html lang="en">
<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar/article.ejs') %>
Update
<%- include('../../partials/footer.ejs') %>
</body>
</html>